<router-outlet></router-outlet>

<table class="table table-striped">
  <thead>
    <tr class="cabecera">
      <th>Id</th>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Autor</th>
      <!--<th>Año</th>
      <th>Descripcion</th>-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let libro of registros'>
      <td class="id">{{libro.id}}</td>
      <td><img class="image" src="{{libro.img}}" alt="imagen"></td>
      <td class="estilosname">{{libro.name}}</td>
      <td class="estilosautor">{{libro.autor}}</td>
      <td><button class="button"><a routerLink="./registrosp2/registrosp2.component.html{{libro.id}}"[routerLinkActive]="'active'">Ver más</a></button></td>
      <!--<td class="estilosano">{{libro.ano}}</td>
      <td class="estilosdescrip">{{libro.descripcion}}</td>-->
    </tr>
  </tbody>
</table>

